<!DOCTYPE html>
{% extends "base.html"%}
{% block content %}

<div class="container" style="margin-top: 100px">

    <div class="row flex-wrap">

        <div class="col-lg-12 d-flex flex-row">
            <h1 class="me-4">{{course.subject}} {{object.course_number}}</h1>
            <h1 class="ms-4"><strong>{{course.name}}</strong></h1>
            {%if request.user|has_group:"Admin" %}

            {% url 'course-update' pk=course.id as course_update %}
            <a href='{{ course_update }}' class="btn btn-primary ms-4 me-4 mt-2" style="height: fit-content">Edit
                Course</a>
            {% url 'course-delete' pk=object.id as course_delete %}
            <a href='{{ course_delete }}' class="btn ms-4 mt-2 btn-danger" style="height: fit-content">Delete Course</a>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <p><strong>Term: </strong> {{course.term_type}} {{course.term_year}}</p>
        </div>
        <div class="col-lg-7 me-4 pt-4">
            <h5 class="mb-2"><strong>Description:</strong></h5>
            <p class="p-4 rounded" style="background-color: #282a35; color: wheat">{{object.description}} </p>
        </div>
        <div class="col-lg-4 ms-4 pt-4">
            <h5 class=""><strong>Instructors:</strong></h5>
            <table class="table table-striped rounded">
                <thead class="homepage-table-header">
                <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Profile</th>
                </tr>
                </thead>
                <tbody>
                {% for person in course.assigned_people.all %}
                {% if person|has_group:"Instructor"%}
                <tr>
                    <td>{{ person.first_name|default:'Unnamed Instructor' }}</td>
                    <td>{{ person.last_name|default:'Unnamed Instructor' }}</td>
                    {% url 'account-view' pk=person.id as account_view %}
                    <td><a href="{{ account_view }}" class="card-link"> View Account</a></td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-lg-5 ms-4 pt-4">
            <h5 class=""><strong>TAs:</strong></h5>
            <table class="table table-striped rounded">
                <thead class="homepage-table-header">
                <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Skills</th>
                    <th scope="col">Profile</th>
                </tr>
                </thead>
                <tbody>
                {% for person in course.assigned_people.all %}
                {%if person|has_group:"TA"%}
                <tr>
                    <td>{{ person.first_name|default:'No First Name' }}</td>
                    <td>{{ person.last_name|default:'No Last Name' }}</td>
                    <td>{{ person.ta_skills|default:'No Skills Provided' }}</td>
                    {% url 'account-view' pk=person.id as account_view %}
                    <td><a href="{{ account_view }}" class="card-link"> View Account</a></td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-lg-12 pt-50">
            <div class="col-lg-12 d-flex flex-row">
                <h5 class="mt-2"><strong>Sections:</strong></h5>
                {% if request.user|has_group:"Admin"%}
                {% url 'section-create' pk=course.id as section_create %}
                <a href='{{ section_create }}' class="ms-4 mb-2 btn btn-primary mt-1" style="height: fit-content">Create
                    Section</a>


                {% endif %}

            </div>

            <table class="table table-striped rounded">
                <thead class="homepage-table-header">
                <tr>
                    <th scope="col">Class ID</th>
                    <th scope="col">Section</th>
                    <th scope="col">Type</th>
                    <th scope="col">Assigned User</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">Section Detail</th>

                </tr>
                </thead>
                <tbody>
                {% for section in object.section_set.all %}
                <tr>
                    <th scope="row">{{section.class_id}}</th>
                    <td>{{section.section}}</td>
                    <td>{{section.type}}</td>
                    <td>{{section.assigned_user.first_name}} {{section.assigned_user.last_name}}</td>
                    <td>{{section.meet_start}}</td>
                    {% url 'section-view' pk=section.id as section_view %}
                    <td><a href='{{section_view}}' class="btn btn-link">View Section</a></td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}
