<!DOCTYPE html>
{% extends "base.html"%}
{% block content %}

<html lang="en">
<p><h1>{{course.name}}</h1> <br>
    {% url 'course-update' pk=course.id as course_update %}
    <a href='{{ course_update }}' class="btn btn-primary">Edit Course</a><br>

    <b>Subject: </b> {{course.subject}} <br>
    <b>Term: </b> {{course.term_type}}, {{course.term_year}}<br>
    <b>Assigned people: </b>
    {% for person in course.assigned_people.all %}
    <br> {{ person.user.first_name|default:'Unnamed Instructor' }}
    {% endfor %} <br>
    <b>Course Number: </b> {{course.course_number}} <br>
    <b>Description: </b> {{course.description}} <br> <br>

    <b>Sections: </b>
    {% for section in sections %}
    <br> {{ section.class_id }} - {{section.section}} - {{section.type}}
    {% endfor %} <br>
    {% url 'section-create' as section_create %}
    <a href='{{ section_create }}' class="btn btn-primary">Create Section</a> <br> <br>

{% if request.user|has_group:'Admin' %}
    {% url 'course-delete' pk=object.id as course_delete %}
    <a href='{{ course_delete }}' class="btn btn-primary">Delete this Course</a>
{% endif %}

{% endblock %}
</html>