{% extends "base.html"%}
{% block content %}


<div class="container" style="margin-top: 100px;">
    <div class="row flex-wrap rounded col-lg-10 bg-color-txt-color p-5">
        <div class="col-lg-12 d-flex flex-row mb-2">
            <h3>Skills</h3>
        </div>
        <div class="col-lg-12">
            <form class="" action="" method="post">
                {% csrf_token %}
                <table class="skills-table">
                    {{ skills_form.as_table }}
                    {{ account_form.as_table }}
                </table>
                <input type="submit" value="Submit" class="btn btn-primary float-end"/>
            </form>
        </div>
    </div>
</div>

{% endblock %}