{% extends "base.html"%}
{% block content %}


<!-- Private User information goes here! -->
<!-- if user is in admin group or this is their account -->
{% if request.user|has_group:"Admin" or request.user == object %}
{% url 'account-update' object.id as account_update %}
{% url 'account-skills' object.id as skills_update %}

<div class="container" style="margin-top: 100px">

    <div class="row flex-wrap col-lg-8 p-4 bg-color-txt-color rounded">
        <div class="col-lg-12 d-flex mb-15 flex-row">
            {% if request.user == object %}
            <h2>Hiya {{object.first_name|default:"pal"}} ({{object.groups.first}})</h2>
            {%else%}
            <h2> {{object.first_name|default:"(No First Name Set)"}} {{object.last_name|default:"(No Last Name Set)"}}
                ({{object.groups.first}})</h2>
            {% endif%}
        </div>

        <div class="col-lg-12 d-flex mt-2 flex-row">
            {% if object.address %}
            <p><strong>Address: </strong>{{object.address.street_address}} {{object.address.city}},
                {{object.address.state}} {{object.address.zip_code}} USA</p>
            {% else %}
            <p><strong>Address: </strong>No address set</p>
            {% endif %}
        </div>
        <div class="col-lg-12">
            {%if object.phone_number%}
            <p><strong>Phone Number: </strong> {{object.phone_number}}</p>
            {% else %}
            <p><strong>Phone Number: </strong>No phone number set</p>
            {% endif %}
        </div>
        <div class="col-lg-12 me-4">
            {%if object.email%}
            <p><strong>Email: </strong>{{object.email}}</p>
            {% else %}
            <p>No email set: </p>
            {% endif %}
        </div>

        <div class="col-lg-12 me-4">


            {%if object|has_group:'TA' %}

            {%if object.ta_skills%}
            <p><strong>Skills: </strong>{{object.ta_skills}}</p>
            {% else %}
            <p><strong>Skills: </strong>User hasn't added skills</p>
            {% endif %}
            {% endif %}
        </div>

        <div class="col-lg-12 d-flex flex-row mb-1 mt-4">
            {%if object.address%}
            {% url 'address-update' pk=object.address.id as address_update %}
            <a href='{{ address_update }}' class="btn btn-primary me-4" style="height: fit-content">Edit Address</a>
            {% else %}
            {% url 'address-create' as address_create %}
            <a href='{{ address_create }}' class="btn btn-primary me-4" style="height: fit-content">Set Address</a>
            {% endif %}

            {%if object.phone_number%}
            <a href='{{ account_update }}' class="btn btn-primary ms-4 me-4" style="height: fit-content">Edit Personal
                Information</a>
            {% else %}
            <a href='{{ account_update }}' class="btn btn-primary ms-4 me-4" style="height: fit-content">Set Personal
                Information</a>
            {% endif %}


            {%if object|has_group:'TA' %}
            {%if request.user == object or request.user|has_group:'Admin' %}
            {%if object.ta_skills%}
            <a href='{{ skills_update }}' class="btn btn-primary ms-4 me-4" style="height: fit-content">Edit Skills</a>
            {% else %}
            <a href='{{ skills_update }}' class="btn btn-primary ms-4 me-4" style="height: fit-content">Add Skills</a>
            {% endif %}
            {% endif %}
            {% endif %}

            {% for section in object.section_set.all %}
            {% url 'section-view' pk=section.id as section_view %}
            {{section.section}} {{section.type}} {{section.class_id}}
            <a href='{{section_view}}' class="btn btn-primary">View Section</a> <br/>
            {% endfor %}
            {% if request.user|has_group:'Admin' %}
            {% url 'account-delete' pk=object.id as account_delete %}
            <a href='{{ account_delete }}' class="btn btn-danger ms-4 me-4" style="height: fit-content">Delete this
                Account</a>
            {% endif %}
        </div>
    </div>


    </div>
</div>

</div>


</div>
{% endif %}

{% endblock %}