{% extends "base.html"%}
{% block content %}

<div class="header">
    {% if request.user == object %}
    <h1>Hiya {{object.first_name|default:"pal"}}</h1>
    {%else%}
    <h1> {{object.first_name|default:"(No First Name Set)"}} {{object.last_name|default:"(No Last Name Set)"}}</h1>
    {% endif%}
</div>


<!-- Private User information goes here! -->
<!-- if user is in admin group or this is their account -->
{% if request.user|has_group:"Admin" or request.user == object %}
{% url 'account-update' object.id as account_update %}

<div class="container account-view-container form-border w-50">
    <div class="row m-5">
        <div class="col">
            {% if object.address %}
                <p>{{object.address.street_address}} <br> {{object.address.city}}, {{object.address.state}} {{object.address.zip_code}} <br> USA
                </p>
            {% else %}
                    <p>No address set</p>
            {% endif %}
        </div>
        <div class="col">
            {%if object.address%}
                {% url 'address-update' pk=object.address.id as address_update %}
                <a href='{{ address_update }}' class="btn btn-primary">Edit Address</a>
            {% else %}
                {% url 'address-create' as address_create %}
                <a href='{{ address_create }}' class="btn btn-primary">Set Address</a>
            {% endif %}

        </div>
    </div>

    <div class="row m-5">
        <div class="col">
            {%if object.phone_number%}
                <p>{{object.phone_number}}</p>
            {% else %}
                <p>No phone number set: </p>

            {% endif %}
        </div>
        <div class="col">
            {%if object.phone_number%}
                <a href='{{ account_update }}' class="btn btn-primary">Edit Phone Number</a>
            {% else %}
                <a href='{{ account_update }}' class="btn btn-primary">Set Phone Number</a>
            {% endif %}

        {% for section in object.section_set.all %}
            {% url 'section-view' pk=section.id as section_view %}
            {{section.section}} {{section.type}} {{section.class_id}}
            <a href='{{section_view}}' class="btn btn-primary">View Section</a> <br/>
        {% endfor %}
    </div>

    <div class="row m-5">
        <div class="col">
            {%if object.email%}
                <p>{{object.email}}</p>

            {% else %}
                <p>No email set: </p>
            {% endif %}
        </div>
        <div class="col">
            {%if object.email%}
                <a href='{{ account_update }}' class="btn btn-primary">Edit Email</a>
            {% else %}
                {% url 'address-create' as address_create %}
                <a href='{{ account_update }}' class="btn btn-primary">Edit Email</a>
            {% endif %}

        </div>
    </div>

    <div class="row m-5">
        <div class="col">
            {% if request.user|has_group:'Admin' %}
                {% url 'account-delete' pk=object.id as account_delete %}
                <a href='{{ account_delete }}' class="btn m-auto btn-danger">Delete this Account</a>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% else %}
<div class="row m-5">
    <div class="col">
        <p>{{object.email|default:"No Email Set"}}</p>

        {% for section in object.section_set.all %}
        {% url 'section-view' pk=section.id as section_view %}
        {{section.section}} {{section.type}} {{section.class_id}}
        <a href='{{section_view}}' class="btn btn-primary">View Section</a> <br/>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}