      .header{
          margin-bottom: 50px;
      }

      .homepage-table-header{
          background-color: #282a35;
          color: wheat;
      }

      .homepage-table{
          margin-bottom: 50px !important;
      }

      .container2 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          min-height: 100vh;
      }

