{% extends "base.html"%}
{% block content %}


<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="container">
        <div class="row align-items-center vh-100 justify-content-center">
            <div class="col-lg-8 p-5 border rounded-3 bg-color-txt-color">
                <h2>Login</h2>
                <form>
                    <table class="form-outline">
                      <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                      </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>
                    {% if form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}

                    {% if next %}
                    {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
                    {% else %}
                    <p>Please login to see this page.</p>
                     {% endif %}
                    {% endif %}

                    <input type="submit" class="btn btn-primary float-end" value="login" >
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>
    </div>




{% endblock %}