<!DOCTYPE html>
{% extends "base.html"%}
{% block content %}

<html lang="en">
<p><h1>{{object.course.name}}</h1> <br>
{% if request.user|has_group:'Admin' %}
    {% url 'section-update' pk=object.id as section_update %}
    <a href='{{ section_update }}' class="btn btn-primary">Edit Section</a><br>
{% endif %}

    <b>Assigned user: </b>
    {% if object.assigned_user is None %}
    No assigned user
    {% endif %}
    {{object.assigned_user.first_name}} {{object.assigned_user.last_name}} <br>
    <b>Class id: </b> {{object.class_id}} <br>
    <b>Section: </b> {{object.section}} <br>
    <b>Type: </b> {{object.type}} <br>

    <b>Time: </b> {{object.meet_start}} - {{object.meet_end}} <br>
    <b>Days: </b>
        {% if object.meet_monday %}
            Monday,
        {% endif %}
        {% if object.meet_tuesday %}
            Tuesday,
        {% endif %}
        {% if object.meet_wednesday %}
            Wednesday,
        {% endif %}
        {% if object.meet_thursday %}
            Thursday,
        {% endif %}
        {% if object.meet_friday %}
            Friday
        {% endif %} <br>

{% if request.user|has_group:'Admin' %}
    {% url 'section-delete' pk=object.id as section_delete %}
    <a href='{{ section_delete }}' class="btn btn-primary">Delete this Section</a>
{% endif %}

{% endblock %}
</html>