{% extends "base.html"%}


{% block content %}

{% if user.is_authenticated %}
<div>
    <div class="container-fluid text-center mb-5 ali">
        <h1>Home Page</h1>
    </div>
</div>

<div class="d-grid p-2" style="background-color: lightgrey">
    <div class="container col-lg-8 flex-row d-flex">
        <h3 class="mx-auto">Users</h3>
        <a href="/accounts/register/" class="card-link mx-auto btn-primary btn">Add a User</a>

    </div>
</div>

<div>
    <div class="container flex-wrap col-lg-12 text-center d-flex justify-content-lg-center">
        {% for user in users %}

        <div class="card m-3" style="width: 16rem;">
            <div class="card-body">

                <h5 class="card-title">{{user.user.first_name}}</h5>
                {% url 'account-view' pk=user.id as account_view %}

                <a href="{{ account_view }}" class="card-link"> User Detail</a>


            </div>
        </div>
        {% endfor %}


    </div>
</div>
</div>

<div class="d-grid p-2" style="background-color: lightgrey">
    <div class="container col-lg-8 flex-row d-flex">
        <h3 class="mx-lg-auto">Courses</h3>
        {% url 'course-create' as course_create %}
        <a href="{{ course_create }}" class="card-link mx-auto btn-primary btn"> Add a Course</a>
    </div>
</div>


<div>
    <div class="container flex-wrap  col-lg-10 text-center d-flex justify-content-lg-center">

        {% for course in courses %}

        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">

                <h5 class="card-title">{{course.name}}</h5>
                {% url 'course-view' pk=course.id as course_view %}

                <a href="{{ course_view }}" class="card-link"> Course Detail</a>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<p> nope</p>


{% endif %}


{% endblock %}

