{% extends "base.html"%}
{% block content %}

<div>
    <div class="container-fluid text-center mb-5 ali">
        <h1>Home Page</h1>
    </div>
</div>

<div class="d-grid p-2" style="background-color: lightgrey">
    <div class="container col-lg-8 flex-row d-flex">
        <h3 class="mx-auto">Users</h3>
        <button type="button" class="mx-auto btn-primary">Add a User</button>
    </div>
</div>

<div>
    <div class="container col-lg-10 text-center d-flex justify-content-lg-center">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <button type="button" class="btn-close float-end" aria-label="Close"></button>
                <h5 class="card-title">Stephen Curry</h5>
                <a href="#" class="card-link">User Detail</a>

            </div>
        </div>

        <div class="card m-3 p-1" style="width: 18rem;">
            <div class="card-body">
                <button type="button" class="btn-close float-end" aria-label="Close"></button>
                <h5 class="card-title">Alex Hergott<i></i></h5>
                <a href="#" class="card-link">User Detail</a>
            </div>
        </div>

        <div class="card m-3 p-1" style="width: 18rem;">
            <div class="card-body">
                <button type="button" class="btn-close float-end" aria-label="Close"></button>
                <h5 class="card-title">LeBron James<i></i></h5>
                <a href="#" class="card-link">User Detail</a>
            </div>
        </div>
    </div>
</div>
</div>

<div class="d-grid p-2" style="background-color: lightgrey">
    <div class="container col-lg-8 flex-row d-flex">
        <h3 class="mx-lg-auto">Courses</h3>
        <button class="mx-lg-auto btn-primary">Add a Course</button>
    </div>
</div>


<div>
    <div class="container col-lg-10 text-center d-flex justify-content-lg-center">
        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <button type="button" class="btn-close float-end" aria-label="Close"></button>
                <h5 class="card-title">CompSci 361<i></i></h5>
                <a href="#" class="card-link">Course Detail</a>
            </div>
        </div>

        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <button type="button" class="btn-close float-end" aria-label="Close"></button>
                <h5 class="card-title">CompSci 361<i></i></h5>
                <a href="#" class="card-link">Course Detail</a>
            </div>
        </div>

        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <button type="button" class="btn-close float-end" aria-label="Close"></button>
                <h5 class="card-title">CompSci 361<i></i></h5>
                <a href="#" class="card-link">Course Detail</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

