<!DOCTYPE html>
{% load auth_extras %}
<html lang="en">


<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">


    {% block title%}
    <title> Scheduler </title>

    {% endblock %}

</head>

<body>
 <ul class="nav">
        {% if user.id is not None %}
        {% url 'account-view' user.id as account_view %}
        {% url 'logout' as logout_view %}
        {% url 'home-page' as home_page %}
        <li class="ms-5 mt-1"><img class="float-start" src="{% static 'favicon.ico' %}" alt="A wasp facing the right with a toothy grin." width="45" height="45"></li>
        <li><h3>Schedular</h3></li>
        <li><a href='{{ logout_view }}'>Logout</a></li>
        <li><a href='{{ account_view }}'>Account</a></li>
        {% if request.path != '/'%}
            <li><a href='{{ home_page }}'>Home Page</a></li>
        {% endif %}

        {% else %}
        {% url 'login' as login_view %}
        <li><a href='{{ login_view }}' >Login</a></li>
        {% endif %}

        {{ DEBUG }}
    </ul>

<div class="container">

    {% block content%}

    {% endblock %}
</div>
</body>


</html>
