{% extends "base.html"%}
{% block content %}


<div class="container" style="margin-top: 100px;">
    <div class="row flex-wrap rounded col-lg-6 bg-color-txt-color p-5">
        <div class="col-lg-12 d-flex flex-row mb-2">
            <h3>Address</h3>
        </div>
        <div class="col-lg-12">
            <form class="" method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Submit" class="btn float-end btn-primary"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}